* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Roboto', sans-serif;
      background: linear-gradient(to right, #C49B6C, #D8B98A, #F5E9D6);
      padding: 40px;
    }

    h1 {
      text-align: center;
      font-family: 'Playfair Display', serif;
      margin-bottom: 40px;
      font-size: 3em;
      color: #222;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 30px;
    }

    .card {
        /* background: #BDD8E9; */
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      overflow: hidden;
      transition: transform 0.3s;
    }

     .card:hover {
      transform: translateY(-5px);
    }

    .card img {
      width: 100%;
      height: 290px;
      object-fit: cover;
    }

    .card-content {
      text-align: center;
    }

    .card-title {
      font-family: 'Playfair Display', serif;
      font-size: 1.5em;
      margin-bottom: 10px;
      color:#001D39;
    }

    .card-text {
      font-size: 0.95em;
      line-height: 1.5;
      color: #514c4c;
      margin-bottom: 15px;
    }

    .read-more {
      text-decoration: none;
      color: #fff;
      background-color:#4E8EA2;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 0.9em;
      transition: background-color 0.3s ease;
    }

    .read-more:hover {
      background-color:#001D39;
    }

    @media (max-width: 600px) {
      .card img {
        height: 180px;
      }
    }