/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background:#d9e8fc; */
  color: #333;
  scroll-behavior: smooth;
}

/* Header */
header {
  /* background: #0f2f66; */
    background: linear-gradient(120deg, #c1967e, #a58559, #945c4e, #b46a52);

  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 60px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* Navigation */
nav {
  /* background: #0f2f66; */
    background: linear-gradient(120deg, #6b4936, #8e6c3c, #884a3a, #9f5238);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
}

nav a:hover {
  background: #ca8a4e;
}

/* Main Container */
.container {
  width: 90%;
  margin: 30px auto;
}

section {
  margin-bottom: 60px;
}

section h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  border-left: 5px solid #ce6f2b;
  padding-left: 10px;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.card h3 {
  color: #2c3e50;
  margin: 15px 0 10px;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.5;
}

/* Read More Button */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #b7923c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: #643608;
}

/* Footer */



/* Read more row */
.read-more-row {
    text-align: center;
}

.read-more-row button {
    padding: 10px 20px;
    font-size: 1rem;
    background: #cb9037;
    color: #040404;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 2%;
    margin-bottom: 2%;
}

.read-more-row button:hover {
    background: #e49539;
}



footer{
  width: 100%;
   /* background-color: #66330f; */
     background: linear-gradient(120deg, #6b4936, #8e6c3c, #884a3a, #9f5238);

   margin: 0%;
   padding: 0%;
   height: 100px;
   
}
footer p{
  width: 100%;
   text-align: center;
   color: aliceblue;
   padding-top: 40px;
}



